<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to Evergreen{% endblock %}</title>
</head>

<body>
    <div>
        <a href="{% url 'login' %}"> Login</a>
        <a href="{% url 'register' %}"> Register</a>
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>