<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to Evergreen{% endblock %}</title>
</head>

<body>
        {% if request.user.is_authenticated %}
            <li><a id="username" onclick="layer.tips($('#user_btn_').html(),this,{tips: 3})">{{ request.user.username }}</a>
            <div id="user_btn_">
                <a class="personcenter fl" href="">Personal Center</a>
                <a class="fr" href="{% url 'logout' %}">Log out</a>
            </div>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dishes/">Dishes</a></li>
            <li><a href="/reserve/">Make reservations</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
                <script type="text/javascript">
            function parent_login() {
                parent.$("#btn_login").click();
                layer.open({
                    type: 1,
                    title: false,
                    scrollbar: false,
                    shadeClose:true,
                    content: $('#login_page'),
                    area: ['365px','396px'],
                    resize: false
                });
            }
            {% if msg %}
                alert('{{ msg }}');
            {% endif %}
            {% if register_success %}
                parent.layer.closeAll();
            {% endif %}
        </script>
        {% block content %}{% endblock %}
    </div>
</body>
</html>