<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to Evergreen{% endblock %}</title>
</head>

<body>
        {% if request.user.is_authenticated and request.user.is_delivery_man == '1' %}
                <li>{{ request.user.username }}  Deliveryman
                <div >
                    <a  href="/customers/personal_center/">Personal Center</a>
                    <a  href="{% url 'logout' %}">Log out</a>
                    <a  href="{% url 'make_delivery' %}">Deliver Orders</a>
                </div>
                </li>
        {% elif request.user.is_authenticated %}
                <li>{{ request.user.username }}
                <div >
                    <a  href="/customers/personal_center/">Personal Center</a>
                    <a  href="{% url 'logout' %}">Log out</a>
                </div>
                </li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dishes/">Dishes</a></li>
            <li><a href="/reserve/">Reservations</a></li>
            <li><a href="/orders/shopping_cart/">Shopping Cart</a></li>
            <li><a href="{% url 'view_transaction' %}">Transactions</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
                <script type="text/javascript">
            function parent_login() {
                parent.$("#btn_login").click();
                layer.open({
                    type: 1,
                    title: false,
                    scrollbar: false,
                    shadeClose:true,
                    content: $('#login_page'),
                    area: ['365px','396px'],
                    resize: false
                });
            }
            {% if msg %}
                alert('{{ msg }}');
            {% endif %}
            {% if register_success %}
                parent.layer.closeAll();
            {% endif %}
        </script>
        {% block content %}{% endblock %}
    </div>
</body>
</html>