{% extends "base.html" %}
{% block title %} Make Reservation{% endblock %}
{% block content %}
<form action="{% url 'reserve' %}" method="post" autocomplete="off">
    <ul>
        <li><label>Username: </label><input type="text" id="username" name="username"></li>
        <li><label>Email: </label><input type="text" id="email" name="email"></li>
        <li><label>Password: </label><input type="password" id="password" name="password"></li>
        <li><label>Number of People: </label><input type="text" id="number_of_people" name="number_of_people"></li>
        <li><label>Reservation Date: </label><input type="text" id="reservation_time" name="reservation_time"></li>
        {{form.as_p}}
    </ul>
    <input type="submit" value="Submit"/>
    {% csrf_token %}

</form>
{% endblock %}

{% block js %}

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  <script>
$(function () {
      $("#reservation_time").datetimepicker( {
         format:'Y-m-d H:i',
      });
    });
  </script>
{% endblock %}
